/config.org~
/auto-save-list/.saves-10000-NASSER-PC~
/auto-save-list/.saves-1864-NASSER-PC~
/auto-save-list/.saves-740-NASSER-PC~
/.python-environments/default/Include/Python-ast.h
/ac-comphist.dat
/auto-save-list/.saves-10004-NASSER-PC~
/.python-environments/default/Include/Python.h
/.python-environments/default/Include/abstract.h
recentf 
.org_archive
bookmarks
company-statistics-cache.el
/*.h
/*.pyc
/auto-save-list/.saves-2428-NASSER-PC~
/auto-save-list/.saves-10412-NASSER-PC~
/auto-save-list/.saves-10672-NASSER-PC~
/auto-save-list/
/.python-environments/
/server/
/server/server13232
/elpa/ace-window-20160225.819/ace-window-autoloads.el
/elpa/0blayout-readme.txt
