/config.org~
/auto-save-list/.saves-10000-NASSER-PC~
/auto-save-list/.saves-1864-NASSER-PC~
/auto-save-list/.saves-740-NASSER-PC~
/.python-environments/default/Include/Python-ast.h
/ac-comphist.dat
/auto-save-list/.saves-10004-NASSER-PC~
/.python-environments/default/Include/Python.h
/.python-environments/default/Include/abstract.h
